.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-transparent);
  z-index: 5;
}

.popup {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--teal);
  border-radius: 20px;
  padding: 20px;
}