.btn {
  border: 0;
  padding: 12px 30px;
  background-color: var(--teal);
  border-radius: 20px;
  color: var(--white);
  transition: 0.15s ease-in-out;
  font-size: 15px;
}

.btn:hover {
  background-color: var(--black);
  cursor: pointer;
}