.todo-list {
  position: relative;
}

.todo-user {
  position: absolute;
  top: 20px;
  left: 20px;
  /* Znam da ovo nema veze sa reactom ali vodi racuna na konzistenciju da ne mesas hex sa 3 i sa 6 cifara i imena kao sto su red. Mozes da napravis variable u index.css */
  color: #fff;
  font-weight: 22px;
}

.todos {
  max-width: 500px;
  margin: 0 auto;
}

.todo-logout {
  position: absolute;
  top: 20px;
  right: 20px;
}

.label {
  color: red;
  max-width: 500px;
  margin: 0 auto;
}