.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 5px 10px;
  background-color: #DAD2D8;
  border: 1px solid black;
  margin-bottom: 10px;
  color: #143642;
  font-weight: 600;
}