.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 5px 10px;
  background-color: var(--gray);
  border: 1px solid var(--black);
  margin-bottom: 10px;
  color: var(--dark-blue);
  font-weight: 600;
}